<div class="flex">
<div class="col-6 flex flex-column card">
  <div>
    <p class="font-bold text-xl">{{ titulo }}</p>
  </div>
  <div>
    <p>{{ descricao }}</p>
  </div>
  <div class="flex flex-row gap-4">
    <div class="flex align-items-center">
      <p>Orientador(a):</p>
      <p class="font-bold">&nbsp;{{ orientador }}</p>
    </div>
    <div class="flex flex-row gap-2">
      <div>
        <p>Banca:</p>
      </div>
      <div class="flex flex-row gap-4">
        @for (professor of banca; track professor; let i = $index) {
          <p class="font-bold"> {{ professor }}
            @if (!(i == banca.length - 1)) {
              <span>,</span>
            }
          </p>

        } @empty {
          <p class="font-bold">Ainda não foi definida!</p>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2">
    <div>
      <p-button label="Download" (click)="download(pdfUrl)">
          <span class="material-symbols-outlined">
            download
          </span>
      </p-button>
    </div>
    <div>
      <p-button label="Visualizar" (click)="view(pdfUrl)">
          <span class="material-symbols-outlined">
            visibility
          </span>
      </p-button>
    </div>
    @if (advisor) {
      <div>
        <p-button label="Adicionar Banca" (click)="openDialogBanca()">
          <span class="material-symbols-outlined">
            add_circle
          </span>
        </p-button>
      </div>
    }
    @if (bank) {
      <div>
        <p-button label="Adicionar Notas" (click)="openDialogNotas()">
          <span class="material-symbols-outlined">
            add_circle
          </span>
        </p-button>
      </div>
    }
  </div>
</div>
  <div class="col-6 flex flex-column justify-content-center align-items-center">
    <div>
      <p>Nota</p>
    </div>
    <div>
      <p-knob [(ngModel)]="tcc_media" [readonly]="true"/>
    </div>
  </div>
</div>

<p-dialog header="Adicionar Banca" [modal]="true"
          [(visible)]="visibleBanca"
          [style]="{ width: '50rem' }"
          (onHide)="closeDialogBanca()">
  <app-advisor-add [tcc_id]=tcc_id (closeDialogEmitter)=closeDialogBanca()></app-advisor-add>
</p-dialog>

<p-dialog header="Adicionar Notas" [modal]="true"
          [(visible)]="visibleNotas"
          [style]="{ width: '50rem' }"
          (onHide)="closeDialogNotas()">
  <app-bank-add [banca_id]=banca_id [professor_id]="user_id" (closeDialogEmitter)=closeDialogNotas()></app-bank-add>
</p-dialog>


