<div class="flex flex-column card">
  <div>
    <p class="font-bold text-xl">{{ titulo }}</p>
  </div>
  <div>
    <p>{{ descricao }}</p>
  </div>
  <div class="flex flex-row gap-4">
    <div class="flex align-items-center">
      <p>Orientador(a):</p>
      <p class="font-bold">&nbsp;{{ orientador }}</p>
    </div>
    <div class="flex flex-row gap-2">
      <div>
        <p>Banca:</p>
      </div>
      <div class="flex flex-row gap-4">
        @for (professor of banca; track professor; let i = $index) {
          <p class="font-bold"> {{ professor }}
            @if (!(i == banca.length - 1)) {
              <span>,</span>
            }
          </p>

        } @empty {
          <p class="font-bold">Ainda não foi definida!</p>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2">
    <div>
      <p-button label="Download" (click)="download(pdfUrl)">
          <span class="material-symbols-outlined">
            download
          </span>
      </p-button>
    </div>
    <div>
      <p-button label="Visualizar" (click)="view(pdfUrl)">
          <span class="material-symbols-outlined">
            visibility
          </span>
      </p-button>
    </div>
    @if (advisor) {
      <div>
        <p-button label="Adicionar Banca" (click)="openDialog()">
          <span class="material-symbols-outlined">
            add_circle
          </span>
        </p-button>
      </div>
    }
  </div>
</div>

<p-dialog header="Adicionar Banca" [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '50rem' }"
          (onHide)="closeDialog()">
  <app-advisor-add [id]=orientador_id (closeDialogEmitter)=closeDialog()></app-advisor-add>
</p-dialog>
