<div class="flex flex-column">
  <div>
    <p class="font-bold text-3xl">Listagem de Tcc</p>
  </div>
  <div>
    @for (tcc of listTcc; track tcc) {
      <app-information [id]="tcc.id"
                       [titulo]="tcc.titulo"
                       [descricao]="tcc.descricao"
                       [pdfUrl]="tcc.pdf"
                       [banca_id]="tcc.banca_id"
                       [orientador_id]="tcc.orientador_id"
                       [advisor]="true"
                       (refreshEmitter)="this.listTccAdvisor(this.id);"
      ></app-information>
    }
  </div>
</div>



