<div class="flex flex-column">
  <div class="flex justify-content-between align-items-center">
    <div>
      <p class="font-bold text-3xl">Listagem de Tcc</p>
    </div>
  </div>
  <div>
    @for (tcc of listTcc; track tcc) {
<!--      <app-information [titulo]="tcc.titulo"-->
<!--                       [descricao]="tcc.descricao"-->
<!--                       [pdfUrl]="tcc.pdfUrl"-->
<!--                       [professoresBanca]="tcc.banca ?? []"-->
<!--                       [orientador]="tcc.orientador"-->
<!--                       [dataApresentacao]="tcc.dataApresentacao ? tcc.dataApresentacao : ''"-->
<!--      ></app-information>-->
    }
  </div>
</div>


<!--<p-dialog header="Informações do TCC" [modal]="true"-->
<!--          [(visible)]="dialog"-->
<!--          [style]="{ width: '50rem' }"-->
<!--          (onHide)="closeDialog()">-->
<!--</p-dialog>-->
